absl-py==2.0.0
advex-uar==0.0.6.dev0
aiofiles==22.1.0
aiosqlite==0.19.0
annoy==1.17.1
anyio==3.7.1
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.2.3
astunparse==1.6.3
attrs==23.1.0
autoattack @ git+https://github.com/fra31/auto-attack.git@6482e4d6fbeeb51ae9585c41b16d50d14576aadc
Babel==2.13.1
backcall==0.2.0
bagnets @ git+https://github.com/wielandbrendel/bag-of-local-features-models.git@8493fb442c9b9ccfeaa970c950ca67832017f072
beautifulsoup4==4.12.2
bleach==6.0.0
blobfile==1.3.1
boltons==23.1.1
cached-property==1.5.2
cachetools==5.3.2
captum==0.6.0
certifi==2023.11.17
cffi==1.15.1
chardet==4.0.0
charset-normalizer==3.3.2
click==8.1.7
comm==0.1.4
contextlib2==21.6.0
cox==0.1.post3
cycler==0.11.0
debugpy==1.7.0
decorator==5.1.1
defusedxml==0.7.1
descartes==1.1.0
dill==0.3.4
distro-info===0.18ubuntu0.18.04.1
docopt==0.6.2
entrypoints==0.4
et-xmlfile==1.1.0
exceptiongroup==1.2.0
fastjsonschema==2.19.0
filelock==3.7.1
flatbuffers==23.5.26
fonttools==4.38.0
fqdn==1.5.1
gast==0.4.0
geotorch==0.3.0
gitdb==4.0.9
GitPython==3.1.24
google-auth==2.23.4
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
GPUtil==1.4.0
grpcio==1.59.3
h5py==3.8.0
idna==2.10
ImageHash==4.3.1
imageio==2.19.5
importlib-metadata==6.7.0
importlib-resources==5.12.0
-e git+ssh://git@github.com/openai/improved-diffusion.git@783b6740edb79fdb7d063250db2c51cc9545dcd1#egg=improved_diffusion
ipykernel==6.16.2
ipython==7.34.0
ipython-genutils==0.2.0
ipywidgets==8.1.1
isoduration==20.11.0
jedi==0.19.1
Jinja2==3.1.2
joblib==1.2.0
json5==0.9.14
jsonpatch==1.32
jsonpointer==2.3
jsonschema==4.17.3
jupyter==1.0.0
jupyter-console==6.6.3
jupyter-contrib-core==0.4.2
jupyter-contrib-nbextensions==0.7.0
jupyter-events==0.6.3
jupyter-highlight-selected-word==0.2.0
jupyter-nbextensions-configurator==0.6.3
jupyter-server==1.24.0
jupyter-ydoc==0.2.5
jupyter_client==7.4.9
jupyter_core==4.12.0
jupyter_server_fileid==0.9.0
jupyter_server_ydoc==0.8.0
jupyterlab==3.6.6
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.9
jupyterlab_server==2.24.0
Keras==2.3.1
kiwisolver==1.4.5
kornia==0.6.12
Lasagne @ https://github.com/Lasagne/Lasagne/archive/master.zip#sha256=2336c20ce9ec9e2de613fc6124778395f16de9e6f263335752177369cd03df17
libclang==16.0.6
lmdb==1.2.1
lpips==0.1.4
lxml==4.9.3
Markdown==3.4.4
MarkupSafe==2.1.3
matplotlib==3.5.3
matplotlib-inline==0.1.6
mistune==3.0.2
mizani==0.7.3
ml-collections==0.1.1
mpi4py==3.1.3
multi-level-split @ git+https://github.com/lmkoch/multi-level-split@638ec077fe7e5494ef5df87f34828df300704b2f
munch==2.5.0
mypy==1.4.1
mypy-extensions==1.0.0
natsort==8.3.1
nbclassic==1.0.0
nbclient==0.7.4
nbconvert==7.6.0
nbformat==5.8.0
nest-asyncio==1.5.8
networkx==2.6.3
notebook==6.5.6
notebook_shim==0.2.3
numexpr==2.7.3
numpy==1.21.6
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
oauthlib==3.2.2
opencv-contrib-python==4.8.1.78
opencv-python==4.6.0.66
openpyxl==3.0.10
openTSNE==0.6.2
opt-einsum==3.3.0
packaging==23.2
palettable==3.3.3
pandas==1.2.5
pandocfilters==1.5.0
parso==0.8.3
patchworklib==0.6.2
patsy==0.5.2
perceptual-advex==0.2.6
pexpect==4.9.0
pickleshare==0.7.5
Pillow==9.5.0
pipreqs==0.4.13
pkgutil_resolve_name==1.3.10
plotnine==0.8.0
prometheus-client==0.17.1
prompt-toolkit==3.0.41
protobuf==3.19.6
psutil==5.8.0
ptyprocess==0.7.0
py3nvml==0.2.6
pyasn1==0.5.1
pyasn1-modules==0.3.0
pycparser==2.21
pycryptodomex==3.15.0
Pygments==2.17.2
PyGObject==3.26.1
pyparsing==3.1.1
pyrsistent==0.19.3
python-apt==1.6.6
python-dateutil==2.8.2
python-debian==0.1.32
python-json-logger==2.0.7
pytorch-msssim==0.2.1
pytz==2023.3.post1
PyWavelets==1.3.0
PyYAML==6.0.1
pyzmq==24.0.1
qtconsole==5.4.4
QtPy==2.4.1
recoloradv==0.0.1
requests==2.25.1
requests-oauthlib==1.3.1
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
robustbench @ git+https://github.com/RobustBench/robustbench.git@eecfdef49ab30b62f2e6bcff3e3fe045b054557c
robustness==1.2.1.post2
rsa==4.9
scikit-image==0.19.3
scikit-learn==1.0.2
scipy==1.7.3
seaborn==0.12.2
Send2Trash==1.8.2
six==1.16.0
sklearn==0.0.post11
smmap==5.0.0
sniffio==1.3.0
soupsieve==2.4.1
statsmodels==0.13.5
tables==3.6.1
tensorboard==2.11.2
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorboardX==2.5.1
tensorflow==2.11.0
tensorflow-estimator==2.11.0
tensorflow-io-gcs-filesystem==0.34.0
termcolor==2.3.0
terminado==0.17.1
Theano==1.0.5
threadpoolctl==3.1.0
tifffile==2021.11.2
timm==0.6.5
tinycss2==1.2.1
tomli==2.0.1
torch==1.12.0+cu113
torchaudio==0.12.0+cu113
torchdiffeq==0.2.3
torchfile==0.1.0
torchinfo==1.7.0
torchvision==0.13.0+cu113
tornado==6.2
tqdm==4.56.2
traitlets==5.9.0
typed-ast==1.5.5
typing_extensions==4.7.1
uri-template==1.3.0
urllib3==1.26.18
visdom==0.1.8.9
wcwidth==0.2.12
webcolors==1.13
webencodings==0.5.1
websocket-client==1.6.1
Werkzeug==2.2.3
widgetsnbextension==4.0.9
wrapt==1.16.0
xlrd==2.0.1
xmltodict==0.12.0
y-py==0.6.2
yarg==0.1.9
ypy-websocket==0.8.4
zipp==3.15.0
